/*Regole di reset*/

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, 
ol, 
menu {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: currentColor;
    text-decoration: none;
}

/*Variabili*/
:root {
    --trackplayer: 25% ;
    --trackaudio: 40% ; 
    --gray: #7d7f84; 
    --lime: #adff2f; 
    --light: #d2d2d2; 
    --darkgray: #282828; 
    --darkblue: #141922; 
}

/*Layout macroaree*/
.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
    display: flex; 
    overflow: hidden; 
}

.aside {
    width: 50px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    position: relative;
}

.container-fluid {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0; 
}

.col {
    flex-basis: calc((100% / 12) * 6);
    padding: 5px; 
    height: 100%;
}


/*Player-bar*/ 
    .player-bar {
        display: flex;
        height: auto;
        padding: 10px 0;
        justify-content: space-between;
        background-color: var(--darkgray); 
    }

    .container-fixed {
        width: 160px;
        padding: 10px; 
        display: flex; 
        align-items: center;
        flex-shrink: 0;
    }

    .container {
        width: 50%; 
        padding: 10px; 
    }

    .icons {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .icon {
        font-size: 18px;
        color: var(--light);
    }

    .icon-big {
        font-size: 24px; 
        padding: 0 10px;
    } 

    /*Slider*/

    .slider {
        padding: 5px 0; 
        display: flex;
        align-items: center;
    }

    .slide-container {
        flex-grow: 1; 
        position: relative; 
        padding: 5px 10px; 
    }

    .time {
        width: 15px; 
        font-size: 12px;
        color: white;
        margin-left: 4px; 
        margin-right: 4px; 
    }

    .slide {
        height: 3px;
        border-radius: 3px;
    }

    .slide-gray {
        background-color: var(--gray);
    }

    .slide-white {
        background-color: white;
        position: absolute; 
        width: var(--trackplayer)
    }
    .slide-white-audio {
        background-color: white;
        position: absolute; 
        width: var(--trackaudio)
    }

    .command {
        height: 12px; 
        width: 12px; 
        background-color: white;
        border-radius: 8px; 
        display: none;
        position: absolute;
        top: 0px; 
        left: var(--trackplayer); 
    }

    .command-small {
        height: 6px;
        width: 6px;
        top: -1px; 
        left: var(--trackaudio);
    }

    /*fine slider*/

    .player-icons {
        margin-left: 10px; 
    }

    .player-img {
        max-width: 30px; 
        display: block;
    }

    .player-title {
        color: white; 
        font-size: 12px; 
    }

    .icon-gray {
        color: var(--gray);
    }

    .player-text {
        color: var(--gray); 
        font-size: 10px; 
    }

    .container-fixed .slide-container {
        width: 50%; 
        flex-grow: 0; 
    }

    .icon-small {
        font-size: 15px; 
    }

    /*Aside*/

    .aside-icon img, .logo-small {
    width: 25px; 
    }

    .text, .text-title  {
        margin-left: 10px; ;
    }

    .img-small {
        width: 15px; 
    }

    .icons-container, .logo-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .logo-container {
        padding: 15px 0; 
    }

    .icons-container {
        gap: 15px; 
        padding: 10px; 
        margin-bottom: 10px;
    }

    .icons-container:last-child {
        gap: 30px; 
    }

    .icon-round{
    background-color: var(--gray);
    border-radius: 25px;
    overflow: hidden;
    }

    .icon-round img {
        display: block;
        aspect-ratio: 1;
        width: 25px; 
        object-fit: contain;
    }

    .text {
        color: var(--gray); 
        font-size: 16px; 
    }

    .light-text {
        color: var(--light); 
    }

    .text-title {
        color: white; 
        font-size: 20px; 
        font-weight: 700;
    }

    .logo-big {
        width: 134px; 
    }

    .aside-icon {
        position: relative;
    }

    .aside-img {
        opacity: 0.7;
    }

    /*Playlists*/

    .playlists-container {
        padding: 10px; 
    }

    .list-item .text {
        padding: 5px 0; 
    }

    .text-big {
        color: var(--gray);
        font-size: 20px;
    }

    .new-playlist {
        display: flex;
        padding: 10px; 
        align-items: center;
    }

    .new-button {
        font-size: 35px; 
        color: black;
        background-color: var(--gray);
        padding: 0px 18px; 
        display: inline-block;
        font-weight: 900;
        line-height: 1.5;
        margin-right: 8px; 
    }

    /*Main*/

    .main-content {
        background-color: var(--darkblue);
        overflow: hidden;
    }

    .app-body {
        height: 100%;
        overflow: auto;
    }

    /*App-header*/
    .app-header {
        height: 80px;
        background-color: rgba( 0 , 0 , 0 , 0.7 );
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0;
        z-index: 999;
    }

    .button {
        color:white; 
        border: 1px solid white; 
        line-height: 1.3em;
        padding: 3px 25px; 
        border-radius: 15px;
        display: inline-block;
        margin-right: 50px; 
    }

    /*App-body*/

    .app-body {
        padding: 5px; 
    }

    .card {
        position: relative;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        row-gap: 30px; 
        padding: 115px 10px 15px 10px; 
    }

    .navbar .list-item {
        position: relative;
    }

    .section-title {
        color: white;
        font-weight: 900;
        padding: 10px 0;
        font-size: 25px;
    }

    .img-round {
        border-radius: 50%;
        object-fit: cover;
    }

    .card .text, .card .text-title {
        text-align: center;
        margin-left: 0; 
    }

    .row .text {
        margin-left: 0; 
    }

    .created-container {
        padding: 0 10px; 
    }

    .card img {
        margin-bottom: 5px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* Hover and Active*/

.icon.active::before {
    content: "";
    width: 4px; 
    height: 25px; 
    background-color: var(--lime);
    position: absolute; 
    top: 0; 
    left: -10px; 
}

.upper-text.active::after {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--lime);
    position: absolute; 
    bottom: -5px; 
    left: 30px; 
}

.aside-icon:hover .aside-img {
    opacity: 1;
}

.aside-icon:hover .d-none.text {
    color: white;
}

.card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: rgba( 0 , 0 , 0 , 0.7 );
    display: none;
}

.col:hover .card::after {
    display: inline-block;
}

.overlay-play {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 32%; 
    left: 42%; 
    display: none;
    z-index: 1; 
}

.col:hover .overlay-play {
    display: inline-block;
}

.navbar .text:hover, .playlists-container .text:hover {
    color: white;
}

.new-playlist:hover .text-big {
    color: white;
}

.new-playlist:hover .new-button {
    background-color: white;
}

.button:hover {
    transform: scale(1.1);
}

.slide-container:hover .command {
    display: inline-block;
    }

    .slide-container:hover .slide-white {
        background-color: var(--lime);
    }

    .icon-big:hover {
        transform: scale(1.2);
    }

    .icon-gray:hover {
        color: white; 
    }

    .img-small::after {
        content: "";
        height: 1px; 
        width: 100%;
        background-color: var(--gray);
        margin-top: 10px;
        display: none;
    }


/*utility classes*/

.d-none {
    display: none; 
}

.margin-top-auto {
    margin-top: auto;
}

.flex-end {
    justify-content: flex-end;
}

.padding-none {
    padding: 0; 
}

.justify-between-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.upper-text {
    text-transform: uppercase;
}


/***Media Query***/

/*S- small devices*/

@media (min-width: 768px) {

    .body .d-none {
        display: inline-block;
    }

    .aside {
        width: 230px;
    }

    /*Player-bar*/
    .text-container {
        display: flex;
        gap: 5px; 
    }

    .logo-small {
        display: none; 
    }

    .icons-container:last-child {
        gap: 15px; 
    }

    .img-small::after {
        display: inline-block;
    }

    .aside-icon, .aside-logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

}

/*M- medium devices*/

@media (min-width: 992px) {

    .player-icons {
        display: flex;
        gap: 5px; 
    }

.d-none {
    display: inline-block;
}

.col {
    flex-basis: calc((100% / 12) * 3);  
    padding: 8px; 
}

.aside-icon, .aside-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.section-title {
    font-size: 32px;
}

}

/*L-large devices*/

@media (min-width: 1200px) {
    
    .d-none {
        display: inline-block;
    }

    .icons-container {
        text-align: left;
    }

    .aside-icon, .aside-logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .container-fixed {
        width: 229px; 
    }

    .col {
        flex-basis: calc((100% / 12) * 2); 
        padding: 10px; 
    }

    .section-title {
        font-size: 40px;
    }



}

/****DEBUG****/
.debug {
    background-color: blue;
}

.debug .main-container {
    background-color: red;
}

.debug .player-bar {
    background-color: aqua;
    border: 1px solid rebeccapurple; 
    height: 50px;
}

.debug .icons {
    background-color: brown;
}

.debug .container {
    background-color: beige;
}

.debug .container-fixed {
    background-color: black;
}

.debug .main-content {
    background-color: orange;
}

.debug .icons-container {
    background-color: darkgreen;
    min-height: 100px;
}