/*Regole di reset*/

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, 
ol, 
menu {
    list-style: none;
}

/*Layout macroaree*/
.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
    display: flex; 
}

.aside {
    width: 50px;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
}


/*utility classes*/

.d-none {
    display: none; 
}

/***Media Query***/

/*S- small devices*/

@media (min-width: 768px) {

    .aside {
        width: 230px;
    }

}

/*M- medium devices*/

@media (min-width: 992px) {
    
}

/*L-large devices*/

@media (min-width: 1200px) {
    
}

/****DEBUG****/
.debug {
    background-color: blue;
}

.debug .main-container {
    background-color: red;
}

.debug .player-bar {
    background-color: aqua;
    border: 1px solid rebeccapurple; 
    height: 50px;
}

.debug .aside {
    background-color: aquamarine;
}

.debug .main-content {
    background-color: orange;
}