/*Regole di reset*/

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, 
ol, 
menu {
    list-style: none;
}

/*Layout macroaree*/
.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
    display: flex; 
}

.aside {
    width: 50px;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
}

/*Player-bar*/ 
    .player-bar {
        display: flex;
        height: 80px;
        padding: 10px;
        justify-content: space-between;
        background-color: #282828;
    }

    .container-fixed {
        width: 160px;
        padding: 10px; 
        display: flex; 
        align-items: center;
        gap: 10px; 
        flex-shrink: 0;
    }

    .container {
        width: 50%; 
        padding: 10px 0px; 
    }

    .icons {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .icon {
        font-size: 18px;
        color: white;
    }

    .icon-big {
        font-size: 24px; 
        padding: 0 10px;
    }

    .icon-big:hover {
        transform: scale(1.2);
    }

    /*Slider*/

    .slider {
        padding: 5px 0; 
        display: flex;
        align-items: center;
    }

    .slide-container{
        flex-grow: 1; 
        position: relative; 
        padding: 5px 0; 
    }

    .time {
        width: 15px; 
        font-size: 8px;
        color: white;
        margin-left: 4px; 
        margin-right: 4px; 
    }

    .slide {
        height: 3px;
        border-radius: 3px;
    }

    .slide-gray {
        background-color: #5a5a5a;
    }

    .slide-white {
        background-color: white;
        position: absolute; 
        width: 25%; 
    }

    .command {
        height: 12px; 
        width: 12px; 
        background-color: white;
        border-radius: 8px; 
        display: none;
        position: absolute;
        top: 0px; 
        left: 25%; 
    }

    .slide-container:hover .command {
    display: inline-block;
    }

    .slide-container:hover .slide-white {
        background-color: limegreen;
    }



    /*fine slider*/

    .player-icons {
        margin-left: 10px; 
    }

    .icon-gray:hover {
        color: white; 
    }

    .player-img {
        max-width: 30px; 
        display: block;
    }

    .player-title {
        color: white; 
        font-size: 12px; 
    }

    .icon-gray {
        color: gray;
    }

    .player-text {
        color: gray; 
        font-size: 10px; 
    }

    .container-fixed .slide-container {
        width: 30%; 
        flex-grow: 0; 
    }

    .icon-small {
        font-size: 12px; 
    }



/*utility classes*/

.d-none {
    display: none; 
}

.flex-end {
    justify-content: flex-end;
}
/***Media Query***/

/*S- small devices*/

@media (min-width: 768px) {

    .aside {
        width: 230px;
    }

    /*Player-bar*/
    .text-container {
        display: flex;
        gap: 5px; 
    }

}

/*M- medium devices*/

@media (min-width: 992px) {
    .player-icons {
        display: flex;
        gap: 5px; 
    }
}

/*L-large devices*/

@media (min-width: 1200px) {
    
}

/****DEBUG****/
.debug {
    background-color: blue;
}

.debug .main-container {
    background-color: red;
}

.debug .player-bar {
    background-color: aqua;
    border: 1px solid rebeccapurple; 
    height: 50px;
}

.debug .icons {
    background-color: brown;
}

.debug .container {
    background-color: beige;
}

.debug .container-fixed {
    background-color: black;
}

.debug .main-content {
    background-color: orange;
}